body{
    background:linear-gradient(blue,pink,gray);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
}


h1{
    font-size: 40px;
    padding: 5px;
    font-weight: bolder;
    text-shadow: 1px 1px lightblue
}


button{
    cursor: pointer;
    width: 30vw;
    height: 10vh;
    background-color: rgb(9, 204, 204);
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    transition: background-color, 0.5s;
    font-size: 20px;
}

button:hover{
    background-color: rgba(3, 68, 46, 0.179);
}


.main__menu{
    display: flex;
    justify-content: space-around;
}

